.all_notes {
    width: 100%;
    box-sizing: border-box;
}

.note {
    display: none;
    max-height: 100vh;
    padding: 2% 10%;
    overflow-y: auto;
}

.container_note_title {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.note_title {
    outline: none;
}

.container_note_body {
    padding: 10px 0;
}

.note_body {
    min-height: 80vh;
    outline: none;
}

.side_bar {
    position: relative;
    width: 20%;
    height: 100vh;
    padding: 20px 10px;
    background-color: #f8f8f8;
    border-right: 1px solid #8f8f8f;
    transform: translateX(-100%);
    transition: 0.5s;
}

.active_side_bar {
    transform: translateX(0);
}

.control_panel {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.control_panel > * {
    cursor: pointer;
}

.sort_select {
    position: absolute;
    background-color: #fff;
    font-size: 14px;
}

.item_note_list {
    display: flex;
    padding: 5px;
}

.item_note_list:hover {
    background-color: #d3d3d3;
    cursor: pointer;
}

.about_note {
    display: flex;
}

.note_name {
    max-width: 100%;
    font-size: 15px;
    overflow: hidden;
}

.active_note {
    display: block;
}

.active_item {
    background-color: #d3d3d3;
}

.user_about {
    position: absolute;
    bottom: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .side_bar {
        position: absolute;
        z-index: 1;
        width: 100vw;
    }
}