.nav-bar {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40px;
    height: 100vh;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-right: 2px solid #8f8f8f;
}
  
.nav-bar > * {
    cursor: pointer;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: default;
}
  
.modal-window__content {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}
  
.modal-window__content > * {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 30px;
}

.warning {
    color: #585858;
    font-size: 14px;
}
  
.logo {
    width: 200px;
}

.auth-form > * {
    margin-bottom: 20px;
}

.auth-form__input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #757582;
    font-size: 18px;
}

.gradient-btn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    background-image: linear-gradient(to right, #6E36D9 0%, #73CAFF 51%, #6E36D9 100%);
    transition: 0.5s;
    cursor:pointer;
}

.gradient-btn:hover {
    background-position: right center;
}

.another-way-btn {
    width: fit-content;
    color: #4a4a4a;
    cursor:pointer;
}

.account-settings > * {
    margin: 10px 0;
}

.error-btn {
    background-image: linear-gradient(to right, #800000 0%, #ff0000 51%, #800000 100%);
    animation: error 0.5s;
}

@keyframes error {
    0% { transform: translate(1px, 1px); }
    10% { transform: translate(-1px, -2px); }
    20% { transform: translate(-3px, 0px);}
    30% { transform: translate(3px, 2px);}
    40% { transform: translate(1px, -1px);}
    50% { transform: translate(-1px, 2px); }
    60% {transform: translate(-3px, 1px); }
    70% { transform: translate(3px, 1px); }
    80% { transform: translate(-1px, -1px); }
    90% { transform: translate(1px, 2px);}
    100% { transform: translate(1px, -2px); }
}

.fadeIn{
	animation-name: fadeIn;
	animation-duration: 0.5s;	
	animation-timing-function: ease-in-out;	
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.1);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}


@media screen and (max-width: 768px) {
    .nav-bar {
        bottom: 0;
        width: 100vw;
        height: 40px;
        padding: 10px 10px;
        flex-direction: row;
    }
    .modal-window__content {
        width: 90vw;
    }
}